<!DOCTYPE html>

<html>

    <head>
        <title>Todo List APP test</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>Welcome to the Dokers image, this was created by Hitesh Reddy from AIML</h1>
    
    </body>

</html>
